# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# visual code
.vscode

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
c2enc
c2dec
